.App {
  text-align: center;
  
}

body {
  background-image: url("/asset/bg_image.png"); 
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.blink_me {
  animation: blinker 1s linear infinite;
  color: red; 
}


@keyframes blinker {
  50% {
    opacity: 0;
  }
}


.App-link {
  color: #61dafb;
}

.mainBox {
  margin-top:10px;
}

.banner-home {
  margin-bottom: 50px; 
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: darkgreen;
  background-image: url("/asset/header_bg.png"); 
  width: 100%; 
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: green;
}

.titleText {
  font-size: 20px; 
  align-content: center; 
}

.container-newsbox{
  padding: 20px;
}

.container-largebox{
  padding: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

p {
  text-align: center;
  font-weight: 500;
}
input[type=text],input[type=email],input[type=phone], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #45a049;
}
.container-contact{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}