@import url('https://fonts.googleapis.com/css?family=Titillium+Web');


.App {
  text-align: center;
  
}

body {
  font-family: 'Titillium Web', sans-serif; 
  background-image: url("/asset/bg_image.png"); 
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.blink_me {
  animation: blinker 1s linear infinite;
  color: red; 
}


@keyframes blinker {
  50% {
    opacity: 0;
  }
}


.App-link {
  color: #61dafb;
}

.mainBox {
  margin-top:10px;
}

.banner-home {
  margin-bottom: 50px; 
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1E1A29;
  background-image: url("/asset/header_bg.png"); 
  width: 100%; 
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  
}

.titleText {
  font-size: 20px; 
  align-content: center; 
}

.container-newsbox{
  padding: 20px;
}

.container-largebox{
  padding: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

p {
  font-weight: 500;
}

.video-wrapper {
  position: relative;
    padding-bottom: 56.25%;
    padding-top: 0px;
    height: 0;
    overflow: hidden;
    margin-bottom:200px; 
 }

 
input[type=text],input[type=email],input[type=phone], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #45a049;
}
.container-contact{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.fixture-block{
  width:50%; 
  display:inline-block; 
}

.channel-block{
  width:100%; 
  display:inline-block; 
  margin-bottom:100px; 
}

hr { border-top: 1px solid #e4e7e9; margin-bottom: 50px; margin-top: 50px; }

.form-control { border-radius: 0px; font-size: 14px; font-weight: 700; width: 100%; height: 64px; padding: 16px 20px; line-height: 1.42857143; border: 1px solid #d6dadc; background-color: #fff; text-transform: capitalize; letter-spacing: 0px; margin-bottom: 30px; -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0); box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0); -webkit-appearance: none; color: #011c28; }
.form-control:focus { color: #011c28; outline: 0; box-shadow: 0 0 0 0.0rem rgb(255, 255, 255); border-color: #c9cdd0; background-color: #f0f4f6; }


.footer { background-color: #08202e; padding-top: 80px; color: #636e74; font-weight: 400; font-size: 17px; }
.footer-line { border-color: #152e3d; }
.footer-widget { padding-bottom: 50px; }
.footer-title { font-size: 24px; font-weight: 600; margin-bottom: 44px; color: #fff; }
.footer-widget ul li a { text-transform: capitalize; font-size: 17px; color: #636e74; display: block; font-weight: 600; }
.footer-widget ul li a:hover { color: #fff; }
.newsletter-form { padding-top: 15px; }
.newsletter-form .form-control { background-color: #1e2e38; border-color: #1e2e38; }
.newsletter-form .form-control:focus { color: #fff; }
.newsletter-form input::-webkit-input-placeholder { color: #fff !important; }
.newsletter-form input:focus::-webkit-input-placeholder { color: #fff !important; }


.tiny-footer { font-size: 14px; padding: 14px 0px; font-weight: 600; background-color: transparent; border-top: 1px solid #152e3d; color: #888d90; line-height: 1; }

.btn-danger {
  margin-left : 10px; 
}